---
import Layout from '../layouts/Layout.astro'

export const prerender = true
---

<Layout title="404: This page could not be found.">
  <div class="flex justify-center py-24 lg:py-32 px-4 lg:px-6">
    <h1 class="text-gray-900 font-bold text-4xl tracking-tight">
      404: This page could not be found.
    </h1>
  </div>
</Layout>
