---
import { Schema } from 'astro-seo-schema'
import { buildSeoMenuSection, generateTitle } from '../utils'
import { getCateringMenu } from '../services/sanity/cateringMenu'
import CategoryDivider from '../components/CategoryDivider.astro'
import MenuCategories from '../components/MenuCategories.astro'
import Layout from '../layouts/Layout.astro'

const cateringMenu = await getCateringMenu()
const seoMenuSection = buildSeoMenuSection(cateringMenu)

export const prerender = true
---

<Layout title={generateTitle('Catering Menu')}>
  <meta
    name="description"
    content="Explore Pop'z BBQ catering menu, featuring slow-cooked South Georgia-style BBQ, smoked meats, seafood, and homemade sides, all served fresh and hot."
    slot="description"
  />
  <Schema
    item={{
      '@context': 'https://schema.org',
      '@type': 'Menu',
      name: "Catering Menu at Pop'z BBQ",
      description:
        "Explore Pop'z BBQ catering menu, featuring slow-cooked South Georgia-style BBQ, smoked meats, seafood, and homemade sides, all served fresh and hot.",
      hasMenuSection: seoMenuSection
    }}
    }
    slot="schema"
  />
  <section class="py-24 lg:py-32 px-4 lg:px-6">
    <div class="mx-auto max-w-xl lg:max-w-4xl">
      <h2 class="text-gray-900 font-bold text-4xl tracking-tight">
        {cateringMenu.title}
      </h2>
      <p class="text-gray-700 leading-8 text-lg mt-2">
        {cateringMenu.subtitle}
      </p>
      <div class="mt-16 grid grid-cols-1 lg:grid-cols-3 gap-y-10 gap-x-8">
        {
          cateringMenu.categories.map((category) => (
            <div>
              <CategoryDivider title={category.name} />
              <MenuCategories subcategories={category.subcategories} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
